.App {
  text-align: center;
}

ul{
  list-style-type: none;background-color: #ddddff;opacity:90%;overflow: hidden;margin: 0px;
}


 li a{
  padding-top: 5px;
  display: block;
  padding: 14px 16px;
  color: #33cccc;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: large;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-submit {
    display: block;
    color: #222222;
}

#findWeather {
    background: #eeeeff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

