body {
  background-color:#e0fff4;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-weight: lighter;
  font-size: 30px;
}

h4{
    font-family: "Segoe UI";
    font-weight: 500;
}

h3{
    font-family: "Segoe UI";
    font-weight: 600;
}